.container {
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.video {
	height: 600px;
	width: 900px;
}

.ad-overlay {
	position: absolute;
    bottom: 80px;
	margin: 0;
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 70px;
    width: 700px;
}

